<div class="col-md-2">
    <a class="text-dark text-decoration-none" href="/login" style="font-weight: bold;"><i class="text-dark fa-solid fa-right-to-bracket fa-2xl"></i> Login</a>
    <div class="vr"></div>
    <a class="text-dark text-decoration-none" href="/register" style="font-weight: bold;"> Register <i class="text-dark fa-solid fa-user fa-2xl"></i></a>
</div>