<div class="bg-dark">
  <h1 class="bg-dark text-light text-center">
    <%= title %>
  </h1>
  <main class="form-signin bg-dark text-center">
    <link href="/stylesheets/signin.css" rel="stylesheet" type="text/css" />
    <div class="signBody bg-dark">
      <p class="text-light">We've sent a recovery email to your address</p><br>
      <p class="text-light">Back to <a href="login">login</a></p>
    </div>
  </main>
</div>